// Fonts
@import 'fonts-yekanbakh';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.irancloud{
    font-family: YekanBakh, sans-serif;
    text-align: right;
}
.whatis{
    background-color: #F5F7FA;
    padding: 80px 0;
    &__title{
        color: #093D3F;
        font-size: 24px;
        font-weight: 600;
    }
    &__content{
        color: #093D3F;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.9px;
    }
    &__tab{
        margin-top: 32px;
    }
    &__tab-lists{
        display: flex;
        list-style: none;
        padding-right: 0;
        padding-bottom: 8px;
        overflow-y: scroll;
    }
    &__tab-list{
        font-weight: 500;
        font-size: 18px;
        color: #697D9A;
        cursor: pointer;
        flex: 0 0 auto;
        padding: 8px 16px;
        margin-left: 8px;
        background-color: #D7F8F5;
        border-radius: 12px;
        &--active{
            color: #ffffff;
            background-color: #20C5BA;
        }
    }
    &__tab-bodys{
        background-color: #ffffff;
        padding: 16px 24px;
        border-radius: 12px;
        border: 2px solid #20C5BA;
    }
    &__tab-body{
        display: none;
        &--active{
            display: block;
        }
    }
    &__tab-body-title{
        margin-top: 16px;
        font-size: 20px;
        font-weight: 500;
        line-height: 49.6px;
        color: #093D3F;
    }
    &__tab-body-subtitle{
        margin-top: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #093D3F;
    }
    &__tab-target-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 32px;
    }
    &__tab-target-box{
        background: #FFFFFF;
        border: 1px solid #C1CEDE;
        box-sizing: border-box;
        border-radius: 12px;
        padding: 24px 16px;
        flex: 0 0 100%;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        cursor: default;
    }
    &__tab-project-history-image{
        display: none;
        margin-top: 56px;
        max-width: 100%;
        svg{
            width: 100%;
        }
    }
    &__tab-project-history-items{
        position: relative;;
    }
    &__tab-project-history-item{
        position: absolute;
        width: 176px;
        &--1{
            top: 108px;
            right: 24px;
        }
        &--2{
            right: 248px;
            top: 20px;
        }
        &--3{
            right: 472px;
            top: 108px;
        }
        &--4{
            right: 697px;
            top: 20px;
        }
        &--5{
            right: 923px;
            top: 108px;
        }
        &--6{
            top: 352px;
            left: 11px;
        }
        &--7{
            top: 304px;
            left: 371px;
        }
        &--8{
            top: 304px;
            right: 248px;
        }
    }
    &__tab-project-history-item-title{
        font-weight: 900;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #093D3F;
        margin-top: 30px;
    }
    &__tab-project-history-item-content{
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #697D9A;
        margin: 8px 16px 0 16px;
    }
    &__tab-project-tech-table{
        background: #FFFFFF;
        border-radius: 16px;
        padding: 48px 56px;
        margin-top: 32px;
        display: none;
    }
    &__tab-project-tech-table-head{
        background: #20C5BA;
        border-radius: 12px;
        display: flex;
        justify-content: space-around;
        padding: 12px 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }
    &__tab-project-tech-table-head-item{
        width: 25%;
        text-align: center;
    }
    &__tab-project-tech-table-body{
        border: 1px solid #B2C2D6;
        border-radius: 12px;
        margin-top: 16px;
        padding: 24px 0;
    }
    &__tab-project-tech-table-body-items{
        display: flex;
        margin: 8px 0;
    }
    &__tab-project-tech-table-body-item{
        width: 25%;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #465A71;
        &:nth-child(1){
            font-weight: 700;
        }
    }
    &__tab-project-tech-map-subtitle{
        margin-top: 32px;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #093D3F;
    }

    &__tab-project-tech-capacity-items{
        
        border: 2px solid #20C5BA;
        border-radius: 12px;
        padding: 0px 12px 16px 12px;
        list-style: none;
        max-height: 40px;
        overflow: hidden;
        
        cursor: pointer;
        margin-top: 24px;
        transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &--open{
            max-height: 1000px;
            background-color: #FFFFFF;
        }
    }
    &__tab-project-tech-capacity-item{
        padding: 8px 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        border-radius: 8px;
        color: #465A71;
        &:hover{
            background-color: #E7ECF4;
        }
        &--header{
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            color: #889EBD;
            padding: 8px 12px;
        }
    }
    &__tab-project-tech-capacity-field{
        height: 40px;
        padding: 8px 24px;
        background: #FFFFFF;
        border: 1px solid #D8E4F3;
        box-sizing: border-box;
        border-radius: 12px;
        margin-top: 16px;
    }
    &__tab-project-tech-capacity-fields{
        display: flex;
        flex-wrap: wrap;
    }
    &__tab-project-tech-capacity-field{
        flex: 0 0 70%;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
    &__tab-project-tech-capacity-label{
        flex: 0 0 30%;
        align-items: center;
        height: 40px;
        display: flex;
        margin-top: 16px;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
    }


    &__tab-project-tech-latency-items{
        
        border: 2px solid #20C5BA;
        border-radius: 12px;
        padding: 0px 12px 16px 12px;
        list-style: none;
        max-height: 40px;
        overflow: hidden;
        background-color: #E7ECF4;
        cursor: pointer;
        margin-top: 24px;
        transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
        &--open{
            max-height: 1000px;
            background-color: #FFFFFF;
        }
    }
    &__tab-project-tech-latency-item{
        padding: 8px 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        border-radius: 8px;
        color: #465A71;
        &:hover{
            background: #E7ECF4;
        }
        &--header{
            font-weight: 500;
            font-size: 16px;
            line-height: 25px;
            color: #889EBD;
            padding: 8px 12px;
        }
    }
    &__tab-project-tech-latency-field{
        height: 40px;
        padding: 8px 24px;
        background: #FFFFFF;
        border: 1px solid #D8E4F3;
        box-sizing: border-box;
        border-radius: 12px;
        margin-top: 16px;
    }
    &__tab-project-tech-latency-fields{
        display: flex;
        flex-wrap: wrap;
    }
    &__tab-project-tech-latency-field{
        flex: 0 0 70%;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
    }
    &__tab-project-tech-latency-label{
        flex: 0 0 30%;
        align-items: center;
        height: 40px;
        display: flex;
        margin-top: 16px;
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
    }
    &__tab-project-tech-latency-footer{
        padding: 16px 24px;
        margin: 32px 0 ;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: right;
        color: #20C5BA;
        background-color: #D7F8F5;
        border-radius: 12px;

    }

    &__tab-project-tech-map{
        margin-top: 40px;
        position: relative;
        display: none;
    }
    &__tab-project-tech-map-footer{
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        border-radius: 12px;
        left: 0;
        bottom: 60px;
        &::before{
            content: "";
            background-color: #20C5BA;
            border-radius: 12px 0px 0px 12px;
            width: 4px;
            height: 32px;
            position: absolute;
            top: 10px;        }
    }
    &__tab-project-tech-map-footer-inner{
        padding: 14px 24px;;
    }
    &__tab-project-benefits-boxes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 28px;
    }
    &__tab-project-benefits-box{
        background: #FFFFFF;
        border: 1px solid #C1CEDE;
        border-radius: 12px;
        padding: 32px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #093D3F;
        flex: 0 0 100%;
        margin-bottom: 16px;
        text-align: center;
    }
    &__tab-project-tech-map-isfahan{
        opacity: 0;
        transition: all 0.3s ease-in-out;
        text{
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__tab-project-tech-map-isfahan-container{
        &:hover{
            .whatis__tab-project-tech-map-isfahan{
                opacity: 1;
            }
        }
    }
}
@media(min-width:768px) {
    .whatis {
        padding: 128px 0;
        &__title{
            font-size: 40px;
        }
        &_content{
            font-size: 18px
        }
        &__tab{
            margin-top: 56px;
        }
        &__tab-lists{
            justify-content: space-around;
            overflow: unset;
            border-bottom: 1px solid #B2C2D6;
            padding-bottom: 16px;
        }
        &__tab-list{
            background-color: transparent;
            font-size: 20px;
            padding: 0;
            &--active{
                color: #155A6D;
                &::after{
                    content: "";
                    height: 3px;
                    background-color: #155A6D;
                    position: relative;
                    bottom: -18px;
                    border-radius: 5px;
                    display: block;
                }
            }
        }
        &__tab-bodys{
            background-color: transparent;
            padding: 0px;
            border-radius: 0px;
            border: none;
        }
        &__tab-body-title{
            margin-top: 48px;
            font-size: 32px;
        }
        &__tab-body-subtitle{
            font-size: 18px;
        }
        &__tab-target-box{
            flex: 0 0 calc(33.3333333333% - 16px);
        }
        &__tab-project-tech-table{
            display: block;
        }
        &__tab-project-tech-map{
            display: block;
        }
        &__tab-project-tech-map-subtitle{
            font-family: 18px;
        }
        &__tab-project-tech-latency{
            display: none;
        }
        &__tab-project-tech-capacity{
            display: none;
        }
        &__tab-project-benefits-box{
            flex: 0 0 calc(20% - 16px);
        }
        &__tab-project-history-image{
            display: block;
        }
    }
}

.commitments{
    background-color: #E7ECF4;
    padding: 80px 0;
    &__title{
        color: #093D3F;
        font-size: 24px;
        font-weight: 600;
    }
    &__subtitle{
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
    }
    &__items{
        margin-top: 0px;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
    }
    &__item{
        background-color: #FFFFFF;
        margin-top: 16px;
        border-radius: 12px;
        padding: 8px 19px;
        position: relative;
        flex: 0 0 100%;
        &::before{
            content: "";
            background: #20C5BA;
            border-radius: 12px 0px 0px 12px;
            width: 3px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
}
@media(min-width:768px){
    .commitments{
        padding: 128px 0;
        &__title{
            font-size: 40px;
        }
        &__subtitle{
            font-size: 18px;
        }
        &__items{
            margin-top: 30px;
        }
        &__item{
            flex: 0 0 calc(50% - 16px);
        }
    }
}

.project{    
    background-color: #F5F7FA;
    padding: 80px 0;
    &__title{
        color: #093D3F;
        font-size: 24px;
        font-weight: 600;
    }
    &__content{
        color: #093D3F;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        margin-top: 16px;
    }
}
@media(min-width:768px){
    .project{
        padding: 128px 0;
        &__title{
            font-size: 40px;
        }
        &__content{
            font-size: 18px;;
        }
    }
}

.questions{    
    background-color: #F5F7FA;
    padding-bottom: 100px;
    &__title{
        color: #0E7571;
        font-size: 24px;
        font-weight: 600;
        padding: 0px 24px;        
    }
    &__box{
        position: relative;
        &::before{
            content: "";
            background: #20C5BA;
            border-radius: 12px 0px 0px 12px;
            width: 3px;
            height: 48px;
            position: absolute;
            top: 0px;
            right: 0;
        }
    }
    
    &__items{
        margin-top: 24px;
    }
    &__item{
        padding: 24px;
        // z-index: 10000;
        position: relative;
        max-height: 100%;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        margin-bottom: 16px;
        background-color: #ffffff;
        border-radius: 12px;

        &--active{
            border: 2px solid #20C5BA;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 16px;
            margin-bottom: 8px;
            max-height: 1000px;
            .questions__item-spacer{
                display: none;
            }
            .questions__item-title{
                margin-bottom: 0px;
            }
            .questions__item-content{
                display: block;
                opacity: 1;
            }
            .questions__item-title-icon{
                transform: rotate(180deg);
                background-color: #20C5BA;
                svg{
                    path{
                        stroke: #ffffff;
                    }
                }
            }
        }
    }
    &__item-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        position: relative;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__item-title-text{
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #093D3F;
    }
    &__item-content{
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        margin-top: 16px;
        color: #8A9DB9;
        display: none;
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
    }
    &__item-title-icon{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #E7ECF4;
        border-radius: 50%;
        left: 0;
        text-align: center;
        padding-top: 4px;
        transition: transform .3s ease-in-out, background-color .3s ease-in-out;
    }
    &__item-title-text{
        width: 90%;
        display: inline-block;
    }
}
@media(min-width:768px){
    .questions{
        padding-bottom: 150px;
        &__title{
            font-size: 40px;
        }
        &__box{
            background-color: #ffffff;
            border-radius: 16px;
            padding: 48px 56px;
            &::before{
                top: 48px;
            }
        }
        &__item{
            max-height: 74px;
            margin-bottom: 0px;
            padding: 24px 24px 0 24px;
            &--active{
                padding: 24px;
                margin-bottom: 8px;
                max-height: 1000px;
            }
        }
        &__item-title{
            margin-bottom: 24px;
            font-size: 18px;
        }
        &__item-spacer{
            width: 100%;
            height: 1px;
            background-color: #E7ECF4;
        }
    }
}
